/*============================================
Base Element Styles
==============================================*/
* {
    box-sizing: border-box;
}
body {
    font-family: "Chalkduster", fantasy;
    background-color: #4a0308;
    color: #FFF;
    /* font-size: small; */
    
}

p, h2 {
    /* font-size: large; */
}

/*============================================
Base Layout Styles
==============================================*/

/* ---- Layout Containers---- */
.main-logo {
    border: solid 4px black;
    border-radius: 50%;
    float: left;
    width:50px;
    height:50px;
    margin: 0px auto;
}

.main-header {
    display: block;
    /* border: solid 4px gray; */
    border-radius: 2%;
    background-color: rgb(141, 5, 5);
    padding: 5px;
    margin: 15px 10px;
    text-align: center;
}

.name a,
.main-nav a {
    padding: 5px 50px;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    /* text-align: center; */
}

section {
    margin-top: 6em;
}

.link {
    color: #FFF;
}
.link:hover {
    color: #ac0d0d;
}

/* .name, */
.main-nav li {
    margin-top: 6px;
    margin-bottom: 6px;
}

img {
    max-width: 100%;
    height: auto;
}

.bird {
    /* align-content: center; */
    width: 50%;
    
}

.main-footer {
    display: block;
    border: solid 4px gray;
    border-radius: 2%;
    background-color: darkgray;
    padding: 5px;
    margin: 15px 10px;
    text-align: center;
}

.name {
    text-shadow: 4px 4px rgb(70, 70, 70);
}

.motto {
    text-shadow: 0 0 5px rgb(70, 70, 70), 0 0 8px black;
}

/* .employee {
    width: 150px;
    height: 150px;
} */


/* ----Flexbox---- */

.main-nav li {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 640px) {
    .main-nav li {
        flex-direction: row;
        justify-content: center;
        ;
    }
}

/*============================================
Media Queries
==============================================*/

@media (min-width: 769px),
       only-screen and (min-width: 700px) and (orientation: landscape) {
    /* .wrap {
    min-height: calc(100vh-89px);
    } */
    .container {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .name,
    .main-nav,
    .main-nav li {
        display: inline-block;
        
    }

    .name {
        width: 240px;
        margin-right: 100px;
    }

    .main-logo {
        width: 125px;
        height: 125px;
        margin-top: 20px;
    }

    /* img {
        max-width: 60%;
        height: auto;
    } */

    
    
    .benz {
        float: left;
        width: 50%;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    
    .snake {
        float:right;
        width: 50%;
        padding-left: 5px;
        
    }

    .bird {
        /* align-content: center; */
        float: right;
        max-width: 70%;
        
    }

    /* body {
        font-size: large;
    } */
}

@media (min-width: 1080px) {
    .snake {
        max-height: 550px;
        padding-bottom:100px;
    }
}